<div class="field{% if field.errors %} has-error{% endif %}">
  {% if field.widget_type == "checkbox" %}
    <label class="checkbox">{{ field }} {{ field.label }}</label>
  {% else %}
    <label for="{{ field.id_for_label }}">{{ field.label }}{% if field.field.required %} <span class="req" aria-hidden="true">*</span>{% endif %}</label>
    {{ field }}
  {% endif %}
  {% if field.help_text %}<div class="help">{{ field.help_text|safe }}</div>{% endif %}
  {% for error in field.errors %}<div class="error">{{ error }}</div>{% endfor %}
</div>
