{% extends "base.html" %}
{% load i18n %}
{% block title %}{% translate "Change password" %}{% endblock %}
{% block content %}
<div class="auth-wrap">
  <div class="card">
    <h1>{% translate "Change password" %}</h1>
    <form method="post" novalidate>{% csrf_token %}
      {% for error in form.non_field_errors %}<ul class="errorlist"><li>{{ error }}</li></ul>{% endfor %}
      {% include "partials/field.html" with field=form.old_password %}
      {% include "partials/field.html" with field=form.new_password1 %}
      {% include "partials/field.html" with field=form.new_password2 %}
      <div class="form-actions">
        <button class="btn btn-primary" type="submit">{% translate "Save" %}</button>
        <a class="btn btn-ghost" href="{% url 'accounts:settings' %}">{% translate "Cancel" %}</a>
      </div>
    </form>
  </div>
</div>
{% endblock %}
